:root {
    --bs-primary:#68b9f3fa ;
    --bs-primary-rgb: 104,  185, 243;
    --bs-secondary:#ee9ae0fa;
    --bs-secondary-rgb:238 ,154 ,224 ;
}


body {
    font-family: 'Noto Sans TC', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

a{
    color: darkred;
    text-transform: none;
}

.picture{
    color:darkorange;
    text-decoration: none;
}

.picture:hover{
    color:darkred;
    text-decoration: none;
}